@media (min-width: 768px)
    .navbar-nav{
      text-align:center;
      float:none;
    }
   .navbar-nav li{
      float:none;
      display:inline-block;
    }
/* for navbar michael logo*/
   .navbar-brand{
     background-color:teal;
    color:white;
    }
   /* for mobile friendly*/
    .fixed-resize-top{
      position: relative;
      top: 50px;
      width: auto;
      
  
  }
/* for mobile friendly*/
  .float-md-right-top{
    position: relative;
    top: 50px;
    width: auto;
    
  }
/* for mobile friendly*/
.float-sm-right-top{
  position: relative;
  top: 50px;
  width: auto;
}
/* for mobile friendly*/
.float-lg-right-top{
  position: relative;
  top: 50px;
  width: auto;
}
/* for mobile friendly / navbar*/
.navbar-brand-collapse{
  border-top: 25px blue;
  background-color:teal;
 color:white;
 position: relative;
 height: -20%;
 margin-bottom: 40px;
 width:auto;
 }

 .container{
   height: auto;
   width: auto;
 }

 .img-index-float {
  float: right;
  clear: left;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 880px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
/* text overlaying images */
.card-img-overlay {
  position: relative;
  top: 0;
  right: 0px;
  bottom:auto;
  background-color: black;
  color: white;
  /* padding-left: 20px;
  padding-right: 20px;*/
}

/* footer background color and height overwrite*/

.card-body {
  background-color:grey;
  height:150px;
}

/* background overwrite color and height overwrite*/
.card-header {
  background-color:green;
}

h5{
  color:green;
}